In [1]:
import pandas as pd
from google.oauth2 import service_account
from google.cloud import bigquery
import config
import text2emotion as te

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shoulhafiz\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shoulhafiz\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\shoulhafiz\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
BQ_KEY_LOCATION = config.BQ_KEY_LOCATION

In [3]:
credentials = service_account.Credentials.from_service_account_file(BQ_KEY_LOCATION)
bqclient= bigquery.Client(credentials = credentials,project="mpdbq1")

In [4]:
query='select * from mpdbq1.nst_says.data_90days'

In [5]:
    df = (
    bqclient.query(query)
    .result()
    .to_dataframe(
        create_bqstorage_client=True,)
)

In [6]:
df.head()

,articleID,articleDate,title,url
0,693166,2021-05-26,What to do if you terminate your employment,https://www.nst.com.my/news/nation/2021/05/693...
1,693270,2021-05-26,Stay home but try to get vaccinated too,https://www.nst.com.my/opinion/letters/2021/05...
2,693312,2021-05-26,No peace until Israel military withdraws from ...,https://www.nst.com.my/opinion/letters/2021/05...
3,693320,2021-05-26,A true friend tells the truth no matter how ha...,https://www.nst.com.my/opinion/letters/2021/05...
4,693157,2021-05-26,New York prosecutors probing Trump form grand ...,https://www.nst.com.my/world/world/2021/05/693...

In [7]:
# pip install text2emotion

In [8]:
df['emotion'] =  df['title'].apply(te.get_emotion)

In [16]:
df.loc[df['emotion_happy']>0.5]
#df.head()

,articleID,articleDate,title,url,emotion,emotion_happy,emotion_angry,emotion_surprise,emotion_sad,emotion_fear
7,693168,2021-05-26,Mafia boss captured in Brazil will be extradit...,https://www.nst.com.my/world/world/2021/05/693...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
17,693184,2021-05-26,'Superstar' Foden formed by love of football a...,https://www.nst.com.my/sports/football/2021/05...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
22,693212,2021-05-26,Coach Galtier quits new French champions Lille,https://www.nst.com.my/sports/football/2021/05...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
24,693237,2021-05-26,Japan newspaper sponsoring Tokyo Olympics urge...,https://www.nst.com.my/sports/others/2021/05/6...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
25,693197,2021-05-26,"King, Queen extend Wesak Day greetings to all ...",https://www.nst.com.my/news/nation/2021/05/693...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
10651,720563,2021-08-23,Alor Pongsu R&R still closed due to floods,https://www.nst.com.my/news/nation/2021/08/720...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
10662,720341,2021-08-23,Leon Fuat upbeat about steel industry,https://www.nst.com.my/business/2021/08/720341...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
10675,720448,2021-08-23,Regulate nicotine vapes to protect consumers: ...,https://www.nst.com.my/business/2021/08/720448...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
10707,720251,2021-08-23,Para athletes 'pumped up and eager',https://www.nst.com.my/sports/others/2021/08/7...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0
10708,720255,2021-08-23,Happy to be in the US,https://www.nst.com.my/sports/others/2021/08/7...,"{'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...",1.0,0.0,0.0,0.0,0.0

In [10]:
te.get_emotion('Two Immigration officers fined for corruption')

{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.5, 'Sad': 0.0, 'Fear': 0.5}

In [11]:
df['emotion_happy'] = [d.get('Happy') for d in df.emotion]

In [12]:
df['emotion_angry'] = [d.get('Angry') for d in df.emotion]

In [13]:
df['emotion_surprise'] = [d.get('Surprise') for d in df.emotion]

In [14]:
df['emotion_sad'] = [d.get('Sad') for d in df.emotion]

In [15]:
df['emotion_fear'] = [d.get('Fear') for d in df.emotion]